#logo{
    height: 50px;
    margin: 10px;
}
nav{
    display: flex;
    height: 69px;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    align-items: center;
    margin-bottom: 1px;
    background-color: black;
}
.links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}